@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "@halvaradop/tailwindcss-utilities";

@theme {
    --color-black: hsl(0, 0%, 7%);
    --color-gray: hsl(240, 5%, 64.9%);
    --color-dark: hsl(240, 5%, 20%);
    --color-black-v2: hsl(240 3.33% 11.76%);
    --color-bg-v2: hsl(220deg 6.38% 9.22%);
    --breakpoint-base: 900px;
}
